/* details.style.css */

.wrapper {
  background-color: #111; /* Fondo oscuro */
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  max-width: 800px;
}

.image {
  width: 100%;
  height: 4%; 
  object-fit: cover;
}
.name {
  text-align: center;
  padding: 10px;
  background-color: #111;
  color: #f0f0f0;
  font-size: 30px;
}
.details{
  
  text-align: justify;
  padding: 10px;
  background-color: #111;
  color: #f0f0f0;
  font-size: 15px;
  
} 
.arrow-image {
  transform: rotate(180deg); 
  width: 200px; 
  position: absolute; 
  top: 0; 
  left: 0; 
}
